In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statistics

In [56]:
BB = pd.DataFrame()

BB['Kids'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']

BB['Age'] = [14, 12, 11, 10, 8, 6, 8]

BB

     Kids  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

#### For future reference, it will save headache for changing the DF and for finding & editing individual values if the names are set to the index... as shown in the examples. Such as shown below!

In [57]:

kids = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
age = [14, 12, 11, 10, 8, 6, 8]

BB = pd.DataFrame(data = age, index = kids, columns = ['Age'])

BB

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

### Determine the mean and median

In [58]:
print(np.mean(BB['Age']))
print(np.median(BB['Age']))

9.857142857142858
10.0

### Determine the mode

In [59]:
#Follow form of the example to determine the mode. Note that the "statistics.mode(BB['Age'])" function would have 
#worked in this instance since there is only 1 mode (only 1 age of '8' occurs more than once)

# Generate a list of unique elements along with how often they occur.
(values, counts) = np.unique(BB['Age'], return_counts=True)

# The location in the values list of the most-frequently-occurring element.
ind = np.argmax(counts)

# The most frequent element.
print(ind)
print(values)

print(values[ind])

1
[ 6  8 10 11 12 14]
8

### What is the Variance?

In [60]:
print(BB['Age'].var())

7.476190476190475

### What is the Standard Deviation?

In [61]:
#using Pandas:
print(BB['Age'].std())

#using Numpy:
print(np.std(BB['Age'], ddof=1))

2.734262327610589
2.734262327610589

### What is the Standard Error?

In [62]:
np.std(BB['Age'], ddof=1) / (np.sqrt(len(BB)))

1.0334540197243192

I would pick the median as the best measure of central tendancy.
The ages are pretty evenly spread and 10 falls both right in the middle of max and min as well as the nth/2 pop sample.

I would pick the standard deviation as the best measure of variance.
2.73yrs is a much better representation of the spread of max and min ages from the mode than the variance would (~7.5 yrs)

### Here is my work by hand for the section


![title](https://i.postimg.cc/PfRx8zKg/20190423-133039.png)

### Cindy has a birthday!

In [63]:
## Cindy has a birthday

BB.loc['Cindy'] += 1
BB.loc['Cindy']

Age    7
Name: Cindy, dtype: int64

In [64]:
### Determine the mean and median

print('The mean is: ' + str(np.mean(BB['Age'])))
print('The median is: ' + str(np.median(BB['Age'])))

### Determine the mode

#Follow form of the example to determine the mode. Note that the "statistics.mode(BB['Age'])" function would have 
#worked in this instance since there is only 1 mode (only 1 age of '8' occurs more than once)

# Generate a list of unique elements along with how often they occur.
(values, counts) = np.unique(BB['Age'], return_counts=True)

# The location in the values list of the most-frequently-occurring element.
ind = np.argmax(counts)

# The most frequent element.


(values[ind])

### What is the Variance?

print('The variance is: ' + str(np.var(BB['Age'])))


### What is the Standard Deviation?

#using Pandas:
print('The standard deviation is: ' + str(BB['Age'].std()))

#using Numpy:
(np.std(BB['Age'], ddof=1))

#The standard error
print('The standard error is: ' + str(np.std(BB['Age'], ddof=1) / (np.sqrt(len(BB)))))

The mean is: 10.0
The median is: 10.0
The variance is: 5.428571428571429
The standard deviation is: 2.516611478423583
The standard error is: 0.9511897312113418

### Here is my work by hand for the section:

![title](https://i.postimg.cc/MG5ZZyvr/20190423-133043.png)

### No one likes Oliver, Let's replace him with 1 year old Jessica

In [65]:
as_list = BB.index.tolist()
idx = as_list.index('Oliver')
as_list[idx] = 'Jessica'
print(as_list)
BB.index = as_list

BB.loc['Jessica'] = 1
BB

['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']

         Age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

### Let's re-run our statistics and see how it compares

In [66]:
### Determine the mean and median

print('The mean is: ' + str(np.mean(BB['Age'])))
print('The median is: ' + str(np.median(BB['Age'])))

### Determine the mode

#Follow form of the example to determine the mode. Note that the "statistics.mode(BB['Age'])" function would have 
#worked in this instance since there is only 1 mode (only 1 age of '8' occurs more than once)

# Generate a list of unique elements along with how often they occur.
(values, counts) = np.unique(BB['Age'], return_counts=True)

# The location in the values list of the most-frequently-occurring element.
ind = np.argmax(counts)

# The most frequent element.


(values[ind])

### What is the Variance?

print('The variance is: ' + str(np.var(BB['Age'])))


### What is the Standard Deviation?

#using Pandas:
print('The standard deviation is: ' + str(BB['Age'].std()))

#using Numpy:
(np.std(BB['Age'], ddof=1))

#The standard error
print('The standard error is: ' + str(np.std(BB['Age'], ddof=1) / (np.sqrt(len(BB)))))

The mean is: 9.0
The median is: 10.0
The variance is: 15.428571428571429
The standard deviation is: 4.242640687119285
The standard error is: 1.6035674514745462

### Here is my work by hand for the section (note, I accidentally replaced Cindy instead of Oliver):

![title](https://i.postimg.cc/hjGDXfm4/20190423-133050.png)

### On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans
### Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

### The Sciphi numbers are not a suitable sample for the population at large for typical TV viewers. Therefore I would take the average of the general publications at 20%; or 1/5 of the population of the time.